/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-apr-19, 17:14:41
    Author     : admin
*/
body {
    font-family: 'Gugi', serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
#pageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

#logoutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    width: 100%;
    height: 18px;
    
}

.leftNavContainer {
    display: flex;
    flex-direction: row;

    margin-left: 3%; 
}
.leftNavContainer .navtext {
    margin-right: 10%;
}
.rightNavContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3%;
    

}
.rightNavContainer .navtext{
    padding-left: 0%;
}

.usernavtext {
    color: black;
    text-decoration: none;
    font-size: 12px;
    margin: 0;
}
.navtext {
    color: black;
    text-decoration: none;
    font-size: 12px;
    margin: 0;
}
.navtext:hover {
    text-decoration: underline;
}
.leftNavContainer #cart {
    margin-right: 10%;
    height:18px;
    width:18px;
    text-decoration: none;
}

#cart {
    padding-right:3px;
}

#itemCount{
    margin-bottom: 5px;
    margin-right: 12px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 500px;
}
.sidekick {
    width: 35%;
    border-bottom: 1px solid lightgrey;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    width: 100%;
    
    
    
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    width: 100%;
}
.productImg {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.productImg img {
    max-height: 90%;
    max-width: 100%;
    object-fit: contain;
    padding-top: 5%;
    padding-bottom: 5%;
}



.productName {
    font-size: 24px;
    display: block;
    font-weight: bold;
    margin-top: 12px;
}

.productModel {
    color: grey;
    font-size: 12px;
}
.disclaimer {
    font-size: 10px;
}
.productPrice {
    font-size: 26px;
    color: darkred;
    font-weight: bolder;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}
#productInfo {
    border: 1px solid grey;
    width: 94%;
    padding: 10px;
}
#productInfo div:nth-child(even) {
    background-color: #f2f2f2;
}
.productInfoHeader {
    font-weight: bold;
    display: block;
    font-size: 18px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.infoMiniHeadline {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.infoText {
    font-size: 14px;
}
.addToCart {
    background-color:#c41966;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    /*border:1px solid #18ab29;*/
    text-align: center;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    
    font-size:12px;
    padding:16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    width: 50%;
    margin-top: 4%;
    margin-bottom: 10%;
    border: none;
}
.addToCart:hover {
    background-color:#a81758;
    
}
.addToCart:active {
    position:relative;
    top:1px;
}
