.body{
    background-color: lightgrey;
}

.form{
    width: 20%;
    margin: auto;
    margin-top: 10%;
    padding: 5%;
    border-radius: 20px;
    background-color: #3f9687;
}

.header{
    font-size: 32px;
    color: white;
}

.text{
    color: white;
}

.back{
    width: 55%;
    padding: 2%;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 2px;
}

.back:hover{
    background-color: lightgrey;
    box-shadow: 4px 4px 4px;
}